<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>646865117207-ask3glccu622imr6pjiiai0gbf02r5ak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646865117207-ask3glccu622imr6pjiiai0gbf02r5ak</string>
	<key>API_KEY</key>
	<string>AIzaSyDZkFa5aJZ4pESmRb50U7IK6WELvJ6rVOY</string>
	<key>GCM_SENDER_ID</key>
	<string>646865117207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat</string>
	<key>PROJECT_ID</key>
	<string>wechat-5c17e</string>
	<key>STORAGE_BUCKET</key>
	<string>wechat-5c17e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646865117207:ios:8d04b982aab8d0ed0e7c52</string>
</dict>
</plist>